*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4f0043;
}

.container{
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: "Courier New", monospace;
    transition: 0.5s ease-in;
}

/* styling the search box */
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -18px;
}

.search-box input{
    color: #4f0043;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #4f0043;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 40px;
    background: #fff;
    border-radius: 18px;
    font-size: 22px;
    margin-right: -24px;
}

/* Styling for when user hovers their mouse over button */
.search-box button:hover{
    color: #fff;
    background: #4f0043;
}

.weather-box {
    text-align: center;
    z-index: 2;
}

.weather-box .description{
    margin-top: 100px;
    color: #4f0043;
    font-size: 56px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

/* The image's size has to be set like this or else it would be too big */
.not-found img{
    width: 70%;
    height: 100%;
}

.not-found p{
    color: #4f0043;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

/* Animation for clear weather */
.sun-container {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb; /* Sky blue color */
    overflow: hidden;
    z-index: -1;
}

.sun {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffd700; /* Yellow color */
    animation: sunAnimation 3s linear infinite;
}

@keyframes sunAnimation {
    0% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -20%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
}

/* Clouds animation */
.clouds-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    overflow: hidden;
    z-index: -1;
}

.cloud1 {
    position: relative;
    top: 50px;
    height: 100px;
    width: 320px;
    background: #e6e6e6;
    border-radius: 100px;
}

.cloud2 {
    position: fixed;
    top: 50px;
    height: 100px;
    width: 400px;
    background: #e6e6e6;
    border-radius: 100px;
    right: 0;
}

.cloud1::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: #e6e6e6;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #e6e6e6;
}

.cloud2::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: #e6e6e6;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #e6e6e6;
}

.snow1 {
    position: relative;
    display: none;
    z-index: 1;
}

.snow1 span {
    position: relative;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 2px;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

.rain1 {
    position: relative;
    display: none;
    z-index: 1;
}

.rain1 span {
    position: relative;
    bottom: 10px;
    width: 2px;
    height: 10px;
    background: #0a9dff;
    margin: 0 2px;
    left: 50px;
    border-radius: 0;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

.snow2 {
    position: fixed;
    display: none;
    z-index: 1;
    right: 0;
    margin-right: 70px;
}

.snow2 span {
    position: relative;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 2px;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

.rain2 {
    position: fixed;
    display: none;
    z-index: 1;
    right: 0;
    margin-right: 150px;
}

.rain2 span {
    position: relative;
    bottom: 10px;
    width: 2px;
    height: 10px;
    background: #0a9dff;
    margin: 0 2px;
    left: 50px;
    border-radius: 0;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(1);
    }
    70% {
        transform: translateY(100vh) scale(1);
    }
    100% {
        transform: translateY(100vh) scale(0);
    }
}
